.heading{
    font-size:25px;
    width:100%;
    box-shadow:5px 10px 15px chartreuse;
    animation:example1 10s infinite;
}@keyframes example1{
    from{background-color: darkgreen;}
    to{background-color: indianred;}
}
.heading_div{
    float:none;
    background: white;
    padding:10px;
    border-radius:20px;
    color:darkmagenta;
    box-shadow:5px 10px 15px gold;
}
.heading_div2{
    font-size:20px;
}
.result_object,.result_accuracy{
    font-size:25px;
    font-style: italic;
    font-weight: bold;
    text-shadow:2px 2px 2px royalblue;
}
#result_object_name,#result_accuracy_name{
    font-size:25px;
    font-style: italic;
    font-weight: bold;
    text-shadow:2px 2px 2px palegoldenrod;
}
.copy_footer_div{
    position: fixed;
    bottom:0;
    width:100%;
    background-color:gray;
    color:lightcyan;
    line-height:1.8;
    text-align: center;
    font-size:20px;
}
canvas{
    border:10px ridge darkgoldenrod;
    margin-top:125px;
    animation-name:example;
    animation-duration:15s;
    animation-iteration-count:infinite;
}@keyframes example{
    from{box-shadow:2px 1px 2px red;}
    to{box-shadow:5px 5px 5px blue;}
}